@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

header {
  grid-area: header;
}

main {
  grid-area: main;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 1320px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}
